.aside-search {
  display: flex;
  align-items: center;
  height: 10%;

  span {
    transform: translateX(+1.4rem);
    z-index: 3;
  }

  ion-icon {
    position: relative;
    color: rgba(48, 48, 48, 0.534);
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  

  input {
    display: flex;
    align-items: center;
    height: 3.5vh;
    width: 23vw;
    border: none;
    border-bottom: 1px solid rgba(48, 48, 48, 0.3);
    font-size: 0.8vw;
    letter-spacing: 0.3px;
    text-indent: 1.6rem;
    //border: 1px solid green;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: grey;
    }
    &::-webkit-search-cancel-button {
      color: grey;
      background-color: grey;
    }
  }
}
