.aside-search {
  display: flex;
  align-items: center;
  height: 10%;

  span {
    transform: translateX(+1.4rem);
    z-index: 3;
  }

  ion-icon {
    position: relative;
    color: #303030;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  

  input {

    width: 30vw;
    border: none;
    border-bottom: 1px solid rgba(48, 48, 48, 0.3);
    font-size: 0.82vw;
    letter-spacing: 0.4px;
    text-indent: 1.2rem;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: grey;
    }
    &::-webkit-search-cancel-button {
      color: grey;
      background-color: grey;
    }
  }
}
