.aside-adventurous__mood {
  //border: 1px solid red;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-icons {
    //border: 1px solid teal;
    display: flex;
    justify-content: space-evenly;
  }

  ion-icon {
    font-size: 3vw;
    color: #303030;
    --ionicon-stroke-width: 26px;
  }

  h4{
    color: #f75d37;
  }
}
