.aside-adventurous__mood {
  //border: 1px solid red;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    letter-spacing: 0.5px;
    margin-left: 1vw;
    color: #181818;
  }

  &-icons {
    //border: 1px solid teal;
    display: flex;
    justify-content: space-evenly;
  }
  
  ion-icon {
    font-size: 2.3vw;
    color: #f75d37;
    --ionicon-stroke-width: 26px;
    &:hover {
      opacity: 0.8;
      color: #303030;
    }
  }

  li {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    color: #909090;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
