.authentication {
  /* position */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(rgba(#000, 0.1), rgba(#000, 0.6)),
    url("./authentication.jpg");
  background-size: cover;
  background-position: center;

  font-weight: 800;

  // border-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgba(245, 245, 245, 1);
}
