.authentication {
  /* position */
  display: flex;
  height: 95vh;
  justify-content: space-around;
  align-items: center;
  
  background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
    url("./authentication.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-weight: 800;

  // border-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
