.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.9);
  z-index: 9999;
}

.offers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;


.carousel{

.slide {

  .legend {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
  }

  div {
    height: 45vh;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}
}


  ul {
    text-align: center;
  }

  .thumb {
    height: 13vh;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

  h3 {
    margin: 1.5vh 0;
    text-align: center;
    text-transform: uppercase;
    color: #f75d37;
  }


  .exp-infos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;

    li {
      display: flex;
      align-items: center;
      width: auto;
      font-size: 1.3rem;

      ion-icon {
        font-size: 2rem;
        color: #f75d37;
        margin-right: 0.8rem;
      }
    }
  }


  .description {
    text-align: justify;
    padding: 1rem;
    color: #303030
  }


// .gallery-container {
//   height: 15vh;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
// }
