.aside {
    border: 1px solid red;
    width: 50%;
    height: 100%;
    
    &-header {
        border: 1px solid red;
        height: 10%;
    }
    
    &-search {
        border: 1px solid greenyellow;
        height: 10%;
    }
    
    &-main{
        border: 1px solid teal;
        height: 50%;
    }
    
    &-adventurous__mood{
        border: 1px solid teal;
        height: 30%;
    }
}

