 .aside {
   /* grid */
  /* .aside is fixed for main-about-quiz, but not for Offers */
  grid-row: 1;
  grid-column: 2;
  /*  */
  padding: 0 4%;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  &-header {
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    &__menu {
    
    }

    &__nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      //border: 1px solid red;
      list-style: none;
      
      a{
        color: #181818;
        font-weight: 600;
        font-size: 1rem;
      }

      img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    height: 10%;
    input {
      width: 90%;
    }
  }

  &-main {
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__nav {
      width: 55%;
      display: flex;
      justify-content:space-between;
      color: #303030
    }

    &__carrousel {
        height: 70%;
        border: 1px solid black;
    }
  }
}
