.aside {
  /* grid */
  /* .aside is fixed for main-about-quiz, but not for Offers */
  grid-row: 1;
  grid-column: 2;
  /*  */
  padding: 0 4%;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 95vh;

  &-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__menu {
      ion-icon {
        font-size: 1.6rem;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      list-style: none;

      a {
        color: #181818;
        font-weight: 600;
        font-size: 1rem;
      }

      .active {
        color: #f75d37;
        text-decoration: underline;
      }

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    height: 10%;
    input {
      margin-left: 1vw;
      width: 90%;
      border: none;
      border-bottom: 1px solid gray;
      font-size: 1vw;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: grey;
      }
      //   &::-webkit-search-cancel-button{
      //     color:grey;
      //     background-color: grey;
      // }
    }
  }

  .aside-main {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      margin-left: 1vw;
      color: #f75d37;
    }

    &__carrousel {
      margin-left: 1vw;
      height: 80%;
      display: flex;
      overflow-x: scroll;
    }
  }

  .about {
    color: red;
  }

  .blog {
    color: red;
  }
}
