.intro {
  width: 65%;
  height: 100%;
  color: white;
  background-image: url(../../img/mirror-lake-reflecting-wooden-house-in-middle-of-lake-147411.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  z-index: -1;

  .logo {
    width: 20vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Nunito", sans-serif;
    p {
      font-size: 1.6vw;
    }
  }
  .content {
    width: 55vw;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    & :first-child,
    & :nth-child(2) {
      width: 25vw;
      text-align: left;
    }
    button {
      background-color: #f75d37;
      border: none;
      width: 8vw;
    }
  }
  .pages {
    width: 20vw;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    p {
      font-size: 1.2vw;
      height: 3vh;
      margin: 0 2vw;
    }
    ion-icon {
      font-size: 1.8vw;
      --ionicon-stroke-width: 26px;
    }
  }
}
