.landing-wrapper {
  position: relative;
  color: white;
  height: 95vh;
  width: 100%;

  img {
    //to fix borders
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;
    background-color: #f5f5f5;
    height: 95vh;
    object-fit: cover;
    opacity: 0.7;
  }

  .content {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -30%);
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:first-child,
    &:nth-child(2) {
      width: 24vw;
      line-height: 1.6;
      text-align: left;
    }
    .btn {
      background-color: #f75d37;
      border: none;
      width: 14vw;
      margin-top: 2vh;
      text-align: center;
    }
  }

  .logo {
    width: auto;
    display: flex;
    align-items: center;
    p {
      font-size: 1.6vw;
   
      span{
        color:#f75d37 ;
      }
    }
  }
}
