.main-title {
  /* position */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
  height: 95vh;
  /* decoration */
  color: #ffffff;
  font-weight: 800;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  // border-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #f5f5f5;

  .logo {
    width: 20vw;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    p {
      font-size: 1.6vw;
      span{
        color:#f75d37 ;
      }
    }
  }
  .content {
    //border: 1px solid red;
    width: 55vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5vw;
    & :first-child,
    & :nth-child(2) {
      width: 25vw;
      text-align: left;
    }
    .btn {
      background-color: #f75d37;
      border: none;
      width: 20vw;
      margin-top: 2vh;
      text-align: center;
    }
  }
  .pagination {
    height: 40%;
    width: 25vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;

    p {
      font-size: 1.4rem;
      height: 4vh;
      margin: 0 2vw;
    }
    ion-icon {
      font-size: 2vw;
      --ionicon-stroke-width: 20px;
      &:hover{
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}
