.landing-wrapper {
  position: relative;
  color: white;
  height: 95vh;
  background-color: teal;

  .logo {
    //border: 1px solid green;
    position: absolute;
    top: 10%;
    left: 5%;
    
    width: auto;
    height: 25%;
    display: flex;
    align-items: center;
    p {
      font-size: 1.6vw;
   
      span{
        color:#f75d37 ;
      }
    }
  }
  .content {
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(5%, 30%);
    //border: 1px solid red;
    width: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    & :first-child,
    & :nth-child(2) {
      width: 22vw;
      line-height: 1.6;
      text-align: left;
    }
    .btn {
      background-color: #f75d37;
      border: none;
      width: 14vw;
      margin-top: 2vh;
      text-align: center;
    }
  }
}
