.main-title {
  //border: 1px solid teal;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.logo {
  width: 20vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Nunito", sans-serif;

  p {
    font-size: 1.6vw;
  }
}
.content {
  //border: 1px solid black;
  width: 55vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5vw;

  & :first-child,
  & :nth-child(2) {
    width: 25vw;
    text-align: left;
  }
  button {
    background-color: #f75d37;
    border: none;
    width: 8vw;
  }
}

.pages {
  width: 20vw;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  p {
    font-size: 1.2vw;
    height: 3vh;
    margin: 0 2vw;
  }
  ion-icon {
    font-size: 1.8vw;
    --ionicon-stroke-width: 26px;
  }
}

.about {
  color: red;
}

.blog {
  color: red;
}
