.card {
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.5s ease-out;
  font-weight: normal;
  width: 14vw;
  height: 40vh;
  border: none;
  margin: 0 1rem;

  .img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

    &:hover {
      filter: brightness(50%);
      opacity: 0.95;
    }
  }

  div {
    position: absolute;
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: rgb(240, 234, 234);
    z-index: 5;
    width: 75%;
    pointer-events: none;

    li {

      h4{
        font-size: 1rem;
      }

      display: flex;
      width: 10vw;
      align-items: center;
      list-style-type: none;
      font-size: 0.9rem;
      ion-icon{
        padding-right: 0.5rem;
      }
    }
  }
}
