* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
*:focus,
*:hover {
  text-decoration: none;
  outline: none;
}
p {
  cursor: pointer;
}
$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.quiz-main {
  background: #cbdfda;
  background-size: cover;
  margin: 0 auto;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 3fr 0.5fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  /* font-size: 1.5rem; */
  h3 {
    /* font-size: 3rem; */
    width: 85%;
    color: rgb(54, 54, 54);
    /* padding-bottom: 3rem; */
  }
  div.forward,
  div.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 4vw;
      --ionicon-stroke-width: 60px;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
        outline: none;
      }
    }
  }
  .home,
  .quiz-to-offers {
    color: rgb(24, 24, 24);
    font-size: 2rem;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1/3;
  }
  .back {
    grid-row: 2;
    grid-column: 2;
  }
  .forward {
    grid-row: 2;
    grid-column: 4;
  }
  .quiz-to-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 4/6;
  }
  .quiz-logo {
    grid-row: 3;
    grid-column: 3;
  }
}
.quiz-list {
  grid-row: 2;
  grid-column: 3;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  .quiz-item {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      padding-bottom: 2.5rem;
      text-align: center;
    }
  }
  button {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  button:hover {
    background-color: rgb(184, 75, 32);
    color: white;
    outline: none;
  }
  button:focus {
    background-color: rgb(92, 14, 105);
    color: white;
    outline: none;
  }
}
.bullets {
  opacity: 0.5;
}
ul {
  margin-block-end: 0;
  list-style: none;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  &:hover,
  &:focus {
    outline: none;
  }
}
.quiz-logo {
  width: 20vw;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  p {
  }
  font-size: 1.6rem;
  span {
    font-size: 2rem;
    color: #f75d37;
  }
}

.quiz-to-offers, .home {
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: 1.6rem;
        font-family: inherit;
        &.offers {
          width: 12rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: $black;
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $white;
              &.arrow {
                @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: "";
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: .33rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 0 0 1.85rem;
            color: $black;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
                background: $white;
                transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $white;
          }
        }
      }
}