* {
  box-sizing: border-box;
}
*:focus, *:hover {
    text-decoration: none;
    outline:none;
  }
  p {
      cursor: pointer;
  }
/*   .pseudo-img {
    height: 6rem;
    width: 6rem;
  } */

.quiz-main {
  background: rgb(239, 238, 233);
  background-size: cover;
  margin: 0 auto;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 3fr 0.5fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  /* font-size: 1.5rem; */
  h3 {
    /* font-size: 3rem; */
    width: 85%;
    color: rgb(54, 54, 54);
    /* padding-bottom: 3rem; */
  }
  div.forward,
  div.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 4vw;
      --ionicon-stroke-width: 60px;
      &:hover{
        cursor: pointer;
        opacity: 0.5;
        outline:none;
      }
    }
  }
  .home,
  .quiz-to-offers {
    color: rgb(24, 24, 24);
    font-size: 2rem;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1/3;
/*     .pseudo-img {
        margin-left:.2em;
        background: url("/img/to-home.jpg");
        background-size: 2.5em;
        background-repeat: no-repeat;
    } */
  }
  .back {
    grid-row: 2;
    grid-column: 2;
  }
  .forward {
    grid-row: 2;
    grid-column: 4;
  }
  .quiz-to-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 4/6;
/*     .pseudo-img {
        background: url("/img/to-offers.jpg");
        background-size: 3em;
        background-repeat: no-repeat;
    } */
  }
  .quiz-logo {
    grid-row: 3;
    grid-column: 3;
  }
}
.quiz-list {
  grid-row: 2;
  grid-column: 3;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  .quiz-item {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        padding-bottom: 2.5rem;
        text-align: center;
    }
  }
  button {
    padding: .5rem;
    border-radius: .3rem;
    margin-bottom: .7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

  }
  button:hover {
    background-color: rgb(184, 75, 32);
    color: white;
    outline:none;
  }
  button:focus {
    background-color: rgb(92, 14, 105);
    color: white;
    outline:none;
  }
}
.bullets {
  opacity: 0.5;
}
ul {
  margin-block-end: 0;
  list-style: none;
}
button {
    outline:none;
    cursor: pointer;
    border: none;
    background: none;
    &:hover, &:focus {
        outline:none;
    }
}
.quiz-logo {
    width: 20vw;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    p {
        font-size: 1.6rem;
        span{
          font-size: 2rem;
          color:#f75d37 ;
        }
      }
}