* {
    padding: 0;
}

.quiz-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(245, 223, 223);
    border-radius: 30px;
    border: 4px solid rgb(42, 42, 42);
    font-size: 1.5rem;
    height: 95.1vh;
    h3 {
        font-size: 3rem;
        width: 85%;
        padding-bottom: 3rem;
    }
    div.back {
        height: 50%;
        margin-top: 2rem;
    }
    div.forward {
        height: 50%;
        margin-top: 48rem;
    }
    button {
    border:none;
    background: none;
    ion-icon {
        font-size: 4vw;
        --ionicon-stroke-width: 60px;
    }
} 
}
.quiz-list {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .quiz-item {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.bullets {
    opacity: .5;
}
/* .active-item {
    opacity: 1;
    visibility: visible;
} */
ul {
    margin-block-end: 0;
    list-style: none;
} 
