.App {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App > div {
  border: 1px solid black;
  width: 70vw;
}

.header{
  height: 15vh;
}

.homepage{
  height: 50vh;
}

.login{
  height: 50vh;
}

.search {
  height: 20vh;
}