.App {
  margin: 5vh auto;
  display: flex;
  align-items: center;

  border-radius: 20px;
  height: 85vh;
  width: 95vw
}
.intro {
  width: 70%;
  border: 10px solid black;
  height: 100%;
  border-radius: 20px;
}

.aside {
  border: 10px solid green;
  height: 100%;
  width: 30%;
}
