* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  overflow-x: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  padding: 1rem;
  height: 98vh;
  display: grid;
  grid-template-columns: 70vw 27vw;
  border-radius: 36px;
  //border: 4px solid rgb(42, 42, 42);
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 0.2em;
  }
  &::-webkit-scrollbar {
    box-shadow: inset 0 0 6px black;
    -webkit-box-shadow: inset 0 0 6px black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid black;
  }
}

a {
  text-decoration: none;
  color: #606060;
}
