body {
  /* background-color: #000; */
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  margin: .5rem;
  display: grid;
  height: 95.9vh;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 70vw 27vw;
  border-radius: 36px;
  border: 4px solid rgb(42, 42, 42);

  
}

a {
  text-decoration: none;
  color: #606060;
}
