body{
  background-color: #000;
}
 
.App {
    display: grid;
    grid-template-rows: 100vh 100vh;
    grid-template-columns: 70vw 30vw;
  }

  a {
    text-decoration: none;
    color: #606060;
  }
  
body{
  overflow-x: hidden;
}