body {
  background-color: rgba(20, 20, 20, 0.2);
}

.App {
  margin: 5vh auto;
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 85vh;
  width: 95vw;
  border: 1px solid red;
  background-color: rgba(223, 221, 221, 1);
}

a {
  text-decoration: none;
  color: #606060;
}
